@page
@model oktmo.Pages.Codes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OktmoEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Ter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Ter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Kod1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Kod1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Kod2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Kod2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Kod3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Kod3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Razdel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Razdel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.IsActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.IsActual)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OktmoEntry.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
