@page
@model oktmo.Pages.Codes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Octmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Razdel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].IsActual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OktmoEntry)
        { // style='visibility:collapse'
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Octmo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razdel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActual)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="input-group">
    <label class="switch">
        <asp:CheckBox runat="server" AutoPostBack="true" id="CheckBox1" OnCheckedChanged="CheckBox1_CheckedChanged" />
        <span class="slider round"></span>
    </label>
</div>

<table class="table" visible="false" id="h">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Octmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Razdel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OktmoEntry[0].IsActual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OktmoEntryHidden)
        { // 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Octmo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razdel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActual)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
