@page
@model oktmo.Pages.Codes.RestoreModel
@{
    ViewData["Title"] = "Восстановление записи";
}

<h1>Восстановление записи</h1>

<h3>Вы уверены что хотите восстановить запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Octmo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Octmo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Razdel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Razdel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OktmoEntry.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OktmoEntry.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OktmoEntry.Id" />
        <input type="hidden" asp-for="OktmoEntry.Name" />
        <input type="hidden" asp-for="OktmoEntry.Octmo" />
        <input type="hidden" asp-for="OktmoEntry.Razdel" />
        <input type="hidden" asp-for="OktmoEntry.IsActual" value="true" />
        <button type="submit" class="btn btn-danger">Восстановить</button> |
        <a asp-page="./Index">На главную</a>
    </form>
</div>
